$type-size: (
  ssm: 0.75rem,
  // 12 px
  sm: 0.875rem,
  // 14 px
  med: 1.125rem,
  // 18 px
  bg: 1.375rem,
  // 20 px
  xl: 1.5rem,
  // 24 px
  xxl: 2.8rem,
  // 48px
  xxxl: 4rem,
  // 64 px
);

$type-weight: (
  slim: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  big: 1000,
);
